@import url('./css/styles-reset.css');
@import url('./css/components/footer.css');
@import url('./css/components/header.css');

@font-face {
	font-family: 'Inter-Regular';
	src: url('./assets/fonts/InterRegular.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter-Medium';
	src: url('./assets/fonts/InterMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter-SemiBold';
	src: url('./assets/fonts/InterSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter-Bold';
	src: url('./assets/fonts/InterBold.woff2') format('woff2');
}

:root {
	--black: #151718;
	--white: #f5f5f5;

	--purple: rgb(134, 115, 253);

	/*! testing something */
	--dark-purple: 141, 74, 247;
	--green: 0, 150, 57;
	--blue: 29, 88, 192;

	--text-description: #ffffffcc;

	--font-inter-regular: 'Inter-Regular', 'Inter', sans-serif;
	--font-inter-medium: 'Inter-Medium', 'Inter', sans-serif;
	--font-inter-semibold: 'Inter-SemiBold', 'Inter', sans-serif;
	--font-inter-bold: 'Inter-Bold', 'Inter', 'Inter Placeholder', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-inter-regular);
}

html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	position: relative;

	background-color: var(--black);
	color: var(--white);
	margin: 0 3%;
	max-width: 1200px;

	margin-left: auto;
	margin-right: auto;

	& main {
		flex-grow: 1;
		margin-top: 100px;
	}
}

.activate-browser {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-align: center;
	width: 100%;
	height: 100%;
	background: var(--black);
	color: var(--white);

	& {
		display: none !important;
	}
}

.logo {
	height: 24px;
	position: relative;
	width: 82px;
}

.primary-button {
	outline: none;
	font-size: 16px;
	font-family: var(--font-inter-medium);
	font-weight: 500;

	border-radius: 5px;
	border: 1px solid #f5f5f52f;
	padding: 4px 16px;
	color: #fff;
	background-color: var(--black);

	border-top: 1px solid #f5f5f560;
	border-bottom: 1px solid #f5f5f51f;

	transition: all 0.3s ease-in-out;
	&:hover {
		cursor: pointer;
		background-color: #f5f5f52f;
	}
}

.secondary-button {
	outline: none;
	font-size: 16px;
	font-family: var(--font-inter-semibold);

	border-radius: 20px;
	border: 1px solid #f5f5f52f;
	border-top: 1px solid #f5f5f560;
	border-bottom: 1px solid #f5f5f51f;
	padding: 8px 50px;
	color: var(--black);
	background: var(--white);

	transition: all 0.3s ease-in-out;
	&:hover {
		cursor: pointer;
		color: var(--white);
		background: var(--black);
	}
}

label {
	text-wrap: nowrap;
	display: flex;
	flex-direction: column;
	gap: 5px 0px;
	line-height: 24px;
	font-size: 1.1em;
}

input,
select {
	width: 100%;
	outline: none;
	border-radius: 8px;
	padding: 10px 16px;
	background-color: transparent;
	font-family: var(--font-inter-medium);
	border: 1px solid #f5f5f52d;
	color: var(--text-description);

	transition: all 0.2s ease-in-out;
	&:hover {
		box-shadow: 0px 0px 4px 0px var(--blue) inset;
	}
}

input[type='submit'] {
	background: linear-gradient(to bottom, var(--purple), rgba(var(--dark-purple, 0.4)));
	border: 1px solid rgb(var(--dark-purple));
	color: var(--white);
	font-size: 1em;
	font-family: var(--font-inter-semibold);
	transition: all 0.3s ease-in-out;
	&:hover {
		cursor: pointer;
		scale: 1.05;
	}
}

select {
	& > option {
		color: var(--black);
	}
	& > option[disabled] {
		color: var(--text-description);
	}
}

@media screen and (max-width: 568px) {
	h1 {
		font-size: 3em !important;
	}

	h2 {
		font-size: 2.5em !important;
	}

	h3 {
		font-size: 2em !important;
	}

	p {
		padding: 0px 20px !important;
		font-size: 0.9em !important;
	}

	.index-header > .header-nav {
		justify-content: space-around;
		height: 50px;
		& > .primary-button {
			display: none;
		}
	}

	.footer-links {
		flex-basis: 100%;
		padding: 0px 30px;
		justify-content: space-around !important;
		gap: 20px 0px !important;
		justify-content: center;
		flex-wrap: wrap;

		& > li {
			text-align: center;
			flex-basis: calc(50% - 60px);
		}
	}
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: 3.5em !important;
	}

	h3 {
		font-size: 2.5em !important;
	}

	p {
		padding: 0px 20px;
		font-size: 1em !important;
	}

	.index-header > .header-nav {
		justify-content: space-around;
	}

	.index-footer {
		& > .sub-footer {
			align-items: center;
			gap: 60px;
			flex-direction: column-reverse;
			justify-content: center;
			flex-wrap: wrap;

			& > .footer-informative {
				width: 100%;
				gap: 0px 50px;
				justify-content: center;
				flex-direction: row;
			}
			& > .footer-links {
				width: 100%;
				justify-content: space-evenly !important;
			}
		}

		& > .footer-policy {
			text-align: center;
			flex-direction: column;

			gap: 10px;

			& > div {
				justify-content: center;
			}
		}
	}
}
